body {
    background: transparent;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #7fb9f3;
    
}


.section-title{
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    letter-spacing: 2px;
    font-weight: bold;

}

.text-center{
    text-align: center !important;
}



.mon-profil-wrapper{
    margin: auto;
    padding: 50px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    text-align: justify;
    text-justify: inter-word;
    font-size: .9em;
    font-weight: normal;
    line-height: 25px;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.btn-primary {
    background: darkorange;
}



/* ************** DATE EXPERIENCES ********** */



	

/* **************** FIN DATE EXPERIENCES ********** */


/* *************  ETOILES COMPETENCES ********** */



/*#exemple2 {
  display: inline-block;
}
#exemple2:after{
  content:"";
  display:  block;
  clear:both;
}
#exemple2 label {
 
  float: right;
  font-size:0;
  
}
#exemple2 label:after{ 
  content:"★";
  display:  block;
  font-size: 1.8rem;
}
#exemple2 [name="note"]{ 
  display:none;
}
#exemple2:hover label{
  color: grey!important;
}
#exemple2 label:hover ~ label{
  color: gold!important;
}
#exemple2 label:hover{ 
  color: black!important;
}
#exemple2 input:checked ~ label{
  color: gold;
}
*/



/******************************* FIN ETOILES COMPETENCES ******************************/
